#Home {
    padding-top: 9.5rem;
}

#Content {
    padding-top: 8.7rem;
}

#abaout-content {
    padding-top: 2rem;
}

#Skills {
    padding-top: 2rem;
}

/* scrol bar animasi navbar */
/* #web-dev {
    scroll-margin-top: 10rem !important;
} */